


{% extends 'base.html' %}



{% block content %}



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">

<style>body {
    padding: 20px;
  }

  .item{
    display: block;
  }

  label {
    display: inline;
  }
  input[type=checkbox] {
    display: inline;
  }
  
  </style>



<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
    <form class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {% for item in object.Non_Perishable %}
    <div class="item">
      <input type="checkbox" class="box" name="" value="one">
      <label class="dropdown-item">{{ item }}</label>
    </div>
    {% endfor %}
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>


<body class="volunteer-bg">
  <div class="contact-form">
    <h1 class="volunteer-title">Donation Request Form</h1>  
    <form id="volunteer" class="form" action="." method="POST"> {% csrf_token %}
          <input name="Name" type="text" class="volunteer-form-1" placeholder="Your Name" required><br>
          <input name="Town" type="text" class="volunteer-form-1" placeholder="Your Town" required><br>
          <input name="Address" type="text" class="volunteer-form-1" placeholder="Your Address (Include Apt. #)" required><br>
          <input name="Email" type="email" class="volunteer-form-1" placeholder="Your Email" required><br>
          <input name="Number" type="tel" class="volunteer-form-1" placeholder="Your Number" required><br>



          
          <div class="terms">
          <label class="container" style="color: white; font-size: 14pt;">I agree to the <a href="https://communitysupport.online/terms" style="color: rgb(0, 250, 229);">terms and conditions</a>
            <input type="checkbox" name="terms" value=True required>
            <span class="checkbox"></span>
          </label>
          </div>

          
          <input type="submit" id="submit" class="form-control-submit" value="Submit" >
          
          
      </form>
    </div>

</body>
{% endblock %}





