{% extends 'base.html' %}



{% block content %}
<style> 

</style>
<p class="attention" >ATTENTION: We are only providing service to the <b>Bergen County, NJ</b> area.</p>

<body style="background-color: rgb(40, 50, 65);">
<div class="Background">
    
      <h1 class="heading">
        <span class="smallerFont" style="color: #00a5e6; font-weight: lighter;">Peer-to-Peer</span>
        <span class="bigFont" style="color: #ffffff;">Community Relief</span>
      </h1>
      
      <p class="main-paragraph">Due to the current health crisis many families are currently displaced from work making it hard for them to provide for their loved ones. During an unprecendented time like this, no one deserves to go hungry. This is an initiative to provide economic relief to those families by anonymous and peer-to-peer donations of non-perishable goods.</p>
      
      <hr style="margin-top: 4rem; border-top: 1px solid rgb(40, 169, 255);">
      <p class="heading-2" style="color: white;">How To Get Involved:</p>
      
      
      
      <div class="grid-container">
          <div class="grid-item">
              <a class="Description" href="/volunteer" >Volunteer</a>
              <p class="Paragraph">Volunteers help out by picking up donations outside the location of the person donating and dropping them off to the person in need. </p>
          </div>
          <div class="grid-item">

              <a class="Description" href="/donate" style="text-align: center;">Donate</a>
              <p class="Paragraph">After a request is made for certain donations, the goods most in demand are posted and people are able to donate any extra unopened   non-perishable foods they may have.</p>
          </div>
          <div class="grid-item">

              <a class="Description" href="/order" link="need" LINK="blue" style="margin-top: 10rem;">In-Need</a>
              <p class="Paragraph">Those in need of food or other supplies can anonymously request their needs and receive them in a timely peroid with zero financial burden and stigma.</p>
          </div>
      </div>
      <div>
          <h1 style="position:-webkit-sticky;"></h1>
          <p></p>
      </div>
  </div>


  </body>



{% endblock %}

{% block footer %}
<footer class="footer-text">
    <p>CommunitySupport.online Established 2020</p><p><a href="/terms" style="color:rgb(0, 247, 255);">
    Terms of Service</a></p>
  </footer>

{% endblock %}